@{
    ViewBag.Title = "Campus Map";
}

    <div id="campus-map" class="wrapper" data-role="page">
        <div id="content" data-role="content">
			@Html.Partial("MobileHeading")
            <div id="main">
                <h1>Campus Map</h1>
                <div class="loading"></div>
                <div id="campus-map"></div>
            </div>
		</div>
	</div>