@{
    ViewBag.Title = "What's Going On?";
}

    <div id="whats-going-on" class="wrapper" data-role="page">
        <div id="content" data-role="content">
			@Html.Partial("MobileHeading")
            <div id="main">
                <h1>What's Going On?</h1>
                <div class="loading"></div>
                <div id="going-on"></div>
            </div>
		</div>
	</div>