@{
    ViewBag.Title = "Live";
}

    <div id="live-at-central" class="wrapper" data-role="page">
        <div id="content" data-role="content">
			@Html.Partial("MobileHeading")
            <div id="main">
                <h1>Live @@ <span class="campus">Central</span></h1>
                <div class="loading"></div>
                <div id="live"></div>
            </div>
		</div>
	</div>