@{
    ViewBag.Title = "Serve";
}

    <div id="serve" class="wrapper" data-role="page">
        <div id="content" data-role="content">
			@Html.Partial("MobileHeading")
            <div id="main">
                <h1>Serve</h1>
                <div class="loading"></div>
                <div id="serve"></div>
            </div>
		</div>
	</div>