@{
    ViewBag.Title = "FeedbackThanks";
}

    <div id="thank-you-feedback" class="wrapper" data-role="page">
        <div id="content" data-role="content">
			<h1 class="heading logo"><a href="@Url.Action("Index", new { Controller = "Home" })" title="Central Christian Church">Central AZ</a></h1>
			<a id="back" href="@Url.Action("Index", new { Controller = "Home" })" title="Back" data-role="none" data-icon="none">Back</a>
            <div id="main">
                <h1>Thank you!</h1>
                <h2 class="indent">We appreciate you taking the time to let us know how we're doing.</h2>
            </div>
		</div>
	</div>