@{
    ViewBag.Title = "Give";
}

    <div id="give" class="wrapper" data-role="page">

        <script type="text/javascript">

            $(function ()
            {
                CentralAZ_Mobile.initGiving();
            });
        
        </script>

        <div id="content" data-role="content">
			@Html.Partial("MobileHeading")
            <div id="main">
                <h1>Give</h1>
                <div class="loading"></div>
                <div class="giving"></div>
            </div>
		</div>
	</div>

