            <h1 class="heading logo"><a href="@Url.Action("Index", new { Controller = "Home" })" title="Central Christian Church">Central AZ</a></h1>
			<a id="back" href="@Url.Action("Index", new { Controller = "Home" })" title="Back" data-role="none" data-icon="none" data-rel="back">Back</a>